.total{
    font-family: 'Ubuntu', sans-serif;
    /* padding: 5px; */
    background-color: white;
    flex-direction: column;
    width: 25%;
    height: 84%;
    /* width: 100%; */
    box-shadow: 1px 0px 5px rgba(88, 175, 242, 0.2),-1px 0px 5px rgba(88, 175, 242, 0.2);
}

.active{
    background-color: red;
}


@media screen and (max-width: 1200px) {
    /* CSS styles to apply within the media query */
    /* .home {
      flex-direction: column;
    }
    .total{
        flex-direction: row;
        width: 100%;
    }
   */
    /* Add any other styles you want for smaller screens here */
  }